
QRCodeReader.xcodeproj/project.xcworkspace/contents.xcworkspacedata
QRCodeReader.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
QRCodeReader.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/xcschememanagement.plist
