
Solution/QRCodeReader.xcodeproj/project.xcworkspace/contents.xcworkspacedata
Solution/QRCodeReader.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
Solution/QRCodeReader.xcodeproj/xcuserdata/user.xcuserdatad/xcschemes/xcschememanagement.plist
